{% extends 'base.html'%}
{%load static %}
{%block title%}
 - About Us
{%endblock title%}
    {%block others %}
<script src="https://unpkg.com/ionicons@5.4.0/dist/ionicons.js"></script>
    {%endblock others%}

{%block content%}

{%include 'partials/navbar.html'%}
<header class=" bg-cover min-h-screen bg-opacity-75 showcase border-gray-600 border-b-10 flex-auto justify-center items-center align-botoom bg-no-repeat"  style="background-image: url('{%static 'about.jpeg'%}');">
    <div class="z-10 h-full py-32 md:py-64 md:px-64 text-gray-100 text-center flex items-center flex-col fixed">
            <h2 class="text-sm md:text-5xl pb-7 md:text-xl w-10/12 md:w-3/4 font-serif text-center text-white" style="font-family: Bruno Ace SC" >
                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
            </h2>
    </div>

 </header>


{%endblock content%}
